/* POLICES */

    /* CIRCULAR STD BOOK */

@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

@font-face {font-family: "Circular Std Book"; 
            src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot"); 
            src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg"); }



    /* CIRCURAD STD MEDIUM */
@import url(//db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);

@font-face {font-family: "Circular Std Medium"; 
    src: url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot"); 
    src: url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff") format("woff"), url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium") format("svg"); }


/* NAVBAR */

.logo{
    width: 120px;
	height: auto;
}

.nav-link{
    font-family: "Circular Std Book"; 
    font-size: 24px;  
    color: black;
}

.nav-link:hover{
    color: black;
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}


/* BANNIERE */

.banniere{
   width: 100%;
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url("../../assets/images/banniere.png");
}

.text-lg-left{
    position: absolute;
    bottom: -10%;
    left: 20%;
    color: white;
    font-family: "Circular Std Medium";
}

#wfb{
    font-size: 4.375em;
}

#web{
    font-size:  2.5em; 
}

/* CARDS */


h2{
    font-size: 40px;
    font-family:"Circular Std Medium";
    padding-top: 50px ;
}

.images{
    height: 100%;
    width: 100% ;
    border-radius: 30px;
    object-fit: cover;
}

.card{
    border-radius: 30px!important; 
}

.bouton {
   
    margin-top: 10px;
    margin-left: 1px;
    padding: 0 30px;
    padding-top: 5px;
    padding-bottom: 6px;
    font-size: 1rem;
    text-align: right;
    color: #fff;
    border-radius: 20px;
    background-color: #0D6579;               
    border: #0D6579 solid 1px;
    border-color: #0D6579;
    
   
}

.bouton:hover {
    background-color:white;
    color: #0D6579;
    border-color: #0D6579;
    
}

/* ARTICLES */


.titre{
    text-align: center;
    color: red;
}
.zoneblue {
background: #56AFC1; 
}
.zoneblue2 {
position: relative;
padding: 1em 5em 1em 1em;
overflow: hidden;
color: #56AFC1;
height: 100px;
}
.zoneblue2:after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #56AFC1;

transform-origin: 100% 0;
-webkit-transform: skew(-87deg);
-ms-transform: skew(-87deg);
transform: skew(-87deg);
z-index: -1;
}
.photo{
display: flex;
flex-direction: row;
max-height: 400px;
width: 100%;
height: auto;
align-items: center;
text-align: center;
}
.photo_pre{
display: flex;
max-height: 400px;
width: 50%;
height: auto;
align-items: center;
text-align: center;

}
.photo_cube{
    display: flex;
    max-height: 400px;
    width: 30%;
    height: auto;
    align-items: center;
    text-align: center;
}
.titre_outils{
    margin-top: 80px;
}
.etapes{
    margin-top: 80px; 
}
.pre1{
    margin-top: 80px;
    margin-bottom: 80px;
}
.h1-blue{
    color: white;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
    font-size: 60px;
    
}
.evo{
    margin-bottom: 200px;
    margin-top: 80px;
}
.role{
    margin-top: 90px;
}
.pre{
    margin-top: 80px;
}
.titre5{
    margin-bottom: 200px;
}
.titrecm{
    margin-bottom: 200px;
    margin-top: 80px;

}
.titrecm1{
    margin-top: 80px;
}
.titrecry{
    margin-top: 80px;

}

.titrecry10{
    margin-top: 80px;
    margin-bottom: 200px;
}
.langage {
    margin-top: 80px;
}
.langage1 {
    margin-top: 80px;
    margin-bottom: 200px;
}
.agence {
    margin-top: 80px;
}
.agence1 {
    margin-top: 80px;
    margin-bottom: 200px;
}




/* PAGE CONTACT*/

.contact{
    margin: 0px;
    padding: 0px;
    font-family: "Circular Std Book"; 
    font-weight: bold;
    min-height: 700px;
    
}

form{
    padding: 30px;
}

form h1{
    font-size: 30px;
}


.corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px; ;
}

.groupe{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche .groupe input{

    margin-top: 5px ;
    padding: 10px 5px 10px 30px;
    border: 1px solid white;
    border-radius: 50px;
}

form .corps-formulaire .gauche .groupe i{
    position: absolute;
    left: 0px;
    top: 35px;
    padding: 9px 8px;
}

form .corps-formulaire .droite{

    margin-left: 40px;
}

form .corps-formulaire .droite .groupe{

    height: 100%;
}

form .corps-formulaire .droite .groupe .textarea{

    margin-top: 5px;
    padding: 10px;
    background-color: #f8f8f8 ;
    resize: none;
    height: 72%;
    border-radius: 50px;
  
}

form .pied-formulaire button{

    margin-top: 10px;
    background-color: #56AFC1;
    color: white;
    border-radius: 15px;
    padding: 4px 4px;
    cursor: pointer;
    border: none;
}

textarea{
    resize: none;
    border-radius: 50px;
    padding-left: 50px!important; 
}

textarea::-webkit-input-placeholder { /* Google Chrome */
    padding-left: 50px!important; 
    padding-top: 5px;
    color: white;
  }
  
textarea:-moz-placeholder { /* Firefox 18- */
    padding-left: 50px!important;  
    padding-top: 5px;
    color: white;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    padding-left: 50px!important; 
    padding-top: 5px;
    color: white;
}

textarea:-ms-input-placeholder {
    padding-left: 50px!important; 
    padding-top: 5px;
    color: white;
}

textarea::placeholder {
    padding-left: 50px!important;
    padding-top: 5px;
    color: white;
}   

textarea::-moz-placeholder{
    padding-left: 50px!important;
    padding-top: 5px;
    color: white;
}

textarea::-webkit-input-placeholder{
    padding-left: 50px!important;
    padding-top: 5px;
    color: white;
}
textarea{
    border: 3px solid #56AFC1;
    background-color: #56AFC1;
}
.inpu{
    background-color: #56AFC1;
}

/* FOOTER */

.bg-footer{
    background-color: black;
    font-size: 20pt;
}

.link-color{
    color: white!important;
    text-decoration:none; 
}

.icons{
    height: 43px;
    width: 47px;
}

.block{
    display: block;
}
.text-white{
    font-size: 15px;
}


/* MENTION LEGALES */

.cred{
    margin-top: 80px;
}

.cred1{
    margin-top: 80px;
    margin-bottom: 200px;
}
.photo_cred{
    display: flex;
    flex-direction: row;
    max-height: 400px;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    }




/* MEDIA QUERIES */

@media (max-width: 694px){
    form .corps-formulaire .droite{
        margin-left: 0;
    }
}

@media (max-width: 1319px){
    .text-lg-left{
        bottom: -10%;
        left: 20%;
    }
    
}
@media (max-width: 600px){
    .text-lg-left{
        bottom: -10%;
        left: 20%;
        margin-right: 30px;
    }
}


    
