/* POLICES */

    /* CIRCULAR STD BOOK */

@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

@font-face {font-family: "Circular Std Book"; 
            src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot"); 
            src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg"); }


/* NAVBAR */

.logo{
    width: 30%;
	height: auto;
}

.nav-link{
    font-family: "Circular Std Book"; 
    font-size: 24px;  
    color: black;
}

.nav-link:hover{
    color: black;
}

#metiers{
    padding-right: 450px;
}

/* BANNIERE */




/* ARTICLES */


.titre{
    text-align: center;
    color: red;
}
.zoneblue {
background: #56AFC1; 
}
.zoneblue2 {
position: relative;
padding: 1em 5em 1em 1em;
overflow: hidden;
color: #56AFC1;
height: 100px;
}
.zoneblue2:after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #56AFC1;

transform-origin: 100% 0;
-webkit-transform: skew(-87deg);
-ms-transform: skew(-87deg);
transform: skew(-87deg);
z-index: -1;
}
.photo{
max-height: 400px;
width: 100%;
height: auto;
}
.h1-blue{
    color: white;
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
    font-size: 60px;
    
}
.evo{
    margin-bottom: 200px;
    margin-top: 80px;
}
.role{
    margin-top: 90px;
}
.pre{
    margin-top: 80px;
}
.photo_outils{
    margin-left: 320px;
    width: auto;
    height: 300px;
    margin-bottom: 70px;
}
.cube{
    margin-left: 400px;
    width: auto;
    height: 300px;
    margin-bottom: 70px;
}
.titre5{
    margin-bottom: 200px;
}
.titrecm{
    margin-bottom: 200px;
    margin-top: 80px;

}
.titrecm1{
    margin-top: 80px;
}
.titrecry{
    margin-top: 80px;

}

.titrecry10{
    margin-top: 80px;
    margin-bottom: 200px;
}



/* FOOTER */

.bg-footer{
    background-color: black;
    font-size: 20pt;
}

.link-color{
    color: white!important;
    text-decoration:none; 
}

.icons{
    height: 43px;
    width: 47px;
}




/* MEDIA QUERIES */

/*@media (max-width: 994px){
    #metiers{
        padding-right: 0;
    }
}

 */

